body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 17s ease infinite;
	font-family: Amazon Ember, Helvetica Neue, Roboto, Arial, sans-serif;
}

.header_text {
	margin-top: 270px;
	margin-bottom: 50px;
	text-align: center;
	color: #f8f9fa;
}

.header_text h1 {
	font-size: 4em;
}

.header_text p {
	font-size: 1.4em;
}

.buttons {
	text-align: center;
}

.buttons li{
	padding-left: 30px;
	padding-right: 30px;
}

.buttons img {
	opacity: 1;
	width: 120px;
}

.buttons img:hover{
	transform: scale(1.1);
	transition: all .2s ease-in-out;
	opacity: 0.4;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
