body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	font-family: "Montserrat", sans-serif !important;
}

.header_text {
	margin-top: 270px;
	margin-bottom: 50px;
	text-align: center;
	color: white;
}

.header_text h1 {
	font-size: 4em;
}

.header_text p {
	font-size: 1.4em;
}

.buttons {
	text-align: center;
}

.buttons img {
	opacity: 1;
	width: 120px;
}

.buttons:hover img{
	opacity: 0.3;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
